@charset "uft-8";
@import url("./slide.css");
@import url("./menu.css");
@import url("./topbar.css");

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "나눔고딕", "굴림";
}

/* 백그라운드 이미지 설정 */
/* 메인 이미지 */
#center > .img {
  width: 100%;
}
/* 주문 페이지 */
#center .event {
  width: 100%;
  display: block;
  margin: auto;
}
#center .event > h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 40px;
}
#center .event > ul > li {
  width: 25%;
  float: left;
}
/* 마우스 커서 */
#center .event > ul > li:hover {
  cursor: pointer;
}
/* 텍스트 처리 */
#center .event > ul > li > p {
  font-size: 14px;
}
#center .event > ul > li > .pop {
  padding-top: 20px;
  color: rgba(100, 100, 100, 0.8);
}
/* 아이스크림 메뉴 */
.ice {
  /* background-image: url(../img/bg_menu.jpg); */
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 500px;
  text-align: center;
}
/* 메뉴 소제목 */
.ice > h1 {
  font-weight: bolder;
  padding: 50px;
  font-size: 18px;
}
/* 메뉴 이미지 */
.ice > .cream:hover {
  cursor: pointer;
}
/* 매장 배달 bar */
.store {
  width: 100%;
  display: block;
  margin: auto;
  position: relative;
  margin-top: 80px;
}
.store > span {
  width: 50%;
  float: left;
}
.store > span > p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.sns {
  text-align: center;
  margin-top: 80px;
}
.sns p {
  font-weight: blod;
  font-size: 20px;
}
