/**
* @filename : menu.css
* @author : 문태호 (mun05170@gmail.com)
* @description : 배스킨라빈스 메뉴바 영역 css
*/

/* 메뉴 바 전체 영역 설정 및 테두리 지정 */
.menu_bar {
  width: 100%;
  height: 46px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  z-index: 5;
  transition: height 0.5 ease;
}

#center {
  padding-top: 46px;
}

/* 메뉴바 콘텐츠 영역 설정 */
.menu_bar_area {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

/* 메뉴봐 좌측 로그인 영역 */
.menu_left {
  height: 46px;
  width: 20%;
  display: flex;
  align-items: center;
}

.menu_left li {
  width: 50%;
}

/* 메뉴바 우측 메뉴 영역 */
.menu_right {
  height: 100%;
  width: 80%;
}

.menu_right > ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav_dep1 {
  width: 190px;
  height: 100%;
  position: relative;
}

.dep1_link {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 46px;
}

.nav_dep2_ul {
  top: 80px;
  width: 100%;
  position: absolute;
}

.nav_dep2 {
  padding-bottom: 12px;
}

.dep2_link {
  padding: 5px 0;
  color: #7b7b7b;
  text-align: center;
}

.dep2_link:hover {
  color: #ff75ac;
}
