/**
* @filename : baskin.css
* @author : 전찬민 (cksals37530@gmail.com)
* @description : 배스킨라빈스 초기화 css
*/

@charset "uft-8";
@import url("./css/reset.css");
@import url("./css/slide.css");
@import url("./css/menu.css");
@import url("./css/topbar.css");
@import url("./css/event.css");
@import url("./css/store.css");
@import url("./css/gram.css");
@import url("./css/footer.css");
@import url("./css/sns.css");
@import url("./css/ice.css");

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "나눔고딕", "굴림";
  letter-spacing: -0.05em;
}
