/**
* @filename : sidebar.css
* @author : 문태호 (mun05170@gmail.com)
* @description : 브런치 사이드바 영역 css
*/

/* 사이드바 */
.sidebar {
  width: 260px;
  border-right: 1px solid #ddd;
  margin-left: -261px;
  position: fixed;
  z-index: 10000;
  height: 100%;
  top: 0;
  transition: all ease-in 0.3s;
}

.sidebar-hide {
  margin-left: 0;
}

/* 사이드바 가입 영역 */
.join {
  height: 239px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.join_logo {
  background-image: url("./img/logo_service2_v1.png");
  background-repeat: no-repeat;
  background-position: -1px -26px;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}

.slogan {
  font-family: Georgia;
  font-size: 13px;
  font-style: italic;
  line-height: 1.35;
  text-align: center;
  color: #666666;
  margin-bottom: 5px;
}

.slogan_writer {
  font-family: Georgia;
  font-size: 10px;
  font-style: italic;
  letter-spacing: 0.3px;
  text-align: center;
  color: #959595;
}

.join_link {
  display: block;
}

.join_btn {
  width: 120px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #00c3bd;
  font-size: 13px;
  color: #00c3bd;
  margin-top: 13px;
  margin-left: 4px;
  background-color: #fff;
}

/* 메뉴 영역 */
.menu {
  padding-top: 28px;
  height: 427px;
  overflow-y: auto;
  background-color: #fff;
}

.menu_btn {
  height: 13px;
  line-height: 13px;
  padding: 12.5px 0;
  width: 240px;
  margin: 0 auto;
}

.menu_btn a {
  color: #333;
  display: block;
  height: 13px;
  line-height: 14px;
  display: block;
  position: relative;
  text-align: center;
  font-size: 13.5px;
}

/* 메뉴 첫번째 고정 */
.menu_btn:first-child a {
  color: #00c3bd;
}

.menu_btn:first-child.bar_left {
  width: 35px;
}
.menu_btn:first-child.bar_right {
  width: 35px;
}

/* 나머지 메뉴 마우스오버 이벤트 */
.menu_btn a:hover {
  color: #00c3bd;
}

.bar_left {
  left: 50px;
  width: 29px;
  display: block;
  border-bottom: 1px solid #00c3bd;
  position: absolute;
  top: 6px;
}

.bar_right {
  right: 50px;
  width: 29px;
  display: block;
  border-bottom: 1px solid #00c3bd;
  position: absolute;
  top: 6px;
}

.bar_blind {
  display: none;
}

/* 리포트-프로젝트 영역 */
.report-project {
  width: 175px;
  margin: 40px auto;
}

.report {
  display: block;
  width: 100%;
  height: 30px;
  position: relative;
}

/* 이벤트 표시 */
.event {
  display: inline-block;
  width: 32px;
  height: 19px;
  border-radius: 40px;
  border: 1px solid rgba(211, 211, 211, 0.7);
  font-size: 8px;
  line-height: 17px;
  color: #888;
  text-align: center;
  position: absolute;
  left: 0;
}

.report_txt {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #888;
  padding-left: 2px;
}

.report_arrow {
  background: url("./img/logo_brunch_v1_211103.png") no-repeat;
  background-size: 200px 80px;

  width: 14px;
  height: 7px;
  background-position: -60px -30px;
  position: absolute;
  top: 6px;
  right: 10px;
}

/* 프로젝트 영역 */
.writer_project {
  width: 168px;
  border-top: 3px solid #000;
  padding-top: 33px;
}

.writer_project img {
  width: 168px;
}

/* 계정 찾기 */
.pw_remind {
  width: fit-content;
  margin: auto;
}

.pw_remind_link {
  text-align: center;
  font-size: 13px;
  color: #959595;
  border-bottom: 1px solid #bbb;
}
